@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

.menu {
    
    position: absolute;
    top: 150px;
    right: 0;
    text-align: center;
    }

.item-menu {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}

.item-menu button {
    margin-right: 6px;
    font-family: 'Roboto Mono', monospace;
    padding: 15px;
    font-size: 2em;
    width: 100%;
    color: aliceblue;
    text-align: right;
}

