<mat-list class="menu">
    <mat-list-item class="item-menu">
        <a href="/">
        <button mat-button>
            Home
        </button>
        </a>
    </mat-list-item>
    <mat-list-item class="item-menu">
        <a href="/projects">
        <button mat-button>
            Projects
        </button>
        </a>
    </mat-list-item>
    <mat-list-item class="item-menu">
        <a href="/social">
        <button mat-button>
            Social
        </button>
        </a>
    </mat-list-item>
    
    
    

</mat-list>
