<div class="info-container">
    <h1 class="title">Who I am?</h1>
</div>
<div class="subtitle">
    Born in <b>Córdoba, Spain</b>, I am a person who has always liked to <b>grow personally.</b> When I started my computer science studies, I started to <b>like web design</b>, although at the moment I haven't had the opportunity to work on it, I consider that I must <b>continue learning in order to reach my goal.</b> I have made this website, to upload all the projects that I will be doing in a learning way, and show the world <b>how far I can go.</b>

</div>