.background {
    position: absolute;
    margin-top: 60px;
    top: 800;
    left: -30px;
    background-color: #575757;
    height: 550px;
    width: 1800px;
    transform: rotate(-2deg);
}

.title {
  top: 60px;
  right: 600px;
  position: relative;
  transform: rotate(+2deg);
  font-family: 'roboto';
  font-size: 5.5em;
  font-weight: 500;
  color: aliceblue;
  text-align: right;
}

.material-symbols-outlined {
    border: 10px solid black;
    border-radius: 100%;
    font-size: 7em;
    padding: 20px;
}
.info-container {
    color: #4b4b4b;
    margin-top: 25%;
}

.clear {
  clear: both;
}

/* Progress Bar */

.container{
  position: relative;
  transform: rotate(+2deg);
  top: 150px;
  height: 400px;
  width: 50%;
  margin-left: 6.5%;
  }
  @keyframes load{
    from {
      width: 0%
    }
  }
  @-webkit-keyframes load{
    from {
      width: 0%
    }
  }
  @-moz-keyframes load{
    from {
      width: 0%
    }
  }
  @-o-keyframes load{
    from {
      width: 0%
    }
  }

  .bar{
    background-color: #EEE;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #FFF;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }
  .bar::before{
    content:  attr(data-skill);
    background-color: #f3b0ff;
    display: inline-block;
    padding: 15px 0 15px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
  }

  .bar.front::before{
    background-color: #ffcc33;
  }
  .bar.back::before{
    background-color: #a6cfe3;
  }

  .bar.learning::before{
    width: calc(20% - 10px);
  }
  .bar.basic::before{
    width: calc(40% - 10px);
  }
  .bar.intermediate::before{
    width: calc(60% - 10px);
  }
  .bar.advanced::before{
    width: calc(80% - 10px);
  }
  .bar.expert::before{
    width: calc(100% - 10px);
  }

/* End progress bar */

