<mat-grid-list cols="2">
    <mat-grid-tile class="card-container">

        <!-- Proyecto 1 -->
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Titulo del proyecto</mat-card-title>
                <mat-card-subtitle>Breve descripcion del proyecto</mat-card-subtitle>
            </mat-card-header>
                <img mat-card-image src='../../../assets/sample.png'>
                <mat-card-content>
                    <p>
                    Aquí va la descripcion de mi proyecto
                    </p>
                </mat-card-content>
            <mat-card-actions class="buttons">
                <button mat-button>Ver el proyecto</button>
            </mat-card-actions>
        </mat-card>

    </mat-grid-tile>
    <mat-grid-tile class="card-container">

                <!-- Proyecto 2 -->
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Titulo del proyecto</mat-card-title>
                <mat-card-subtitle>Breve descripcion del proyecto</mat-card-subtitle>
            </mat-card-header>
                <img mat-card-image src='../../../assets/sample.png'>
                <mat-card-content>
                    <p>
                    Aquí va la descripcion de mi proyecto
                    </p>
                </mat-card-content>
            <mat-card-actions class="buttons">
                <button mat-button>Ver el proyecto</button>
            </mat-card-actions>
        </mat-card>

        
    </mat-grid-tile>
    <mat-grid-tile class="card-container">

                <!-- Proyecto 3 -->
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Titulo del proyecto</mat-card-title>
                <mat-card-subtitle>Breve descripcion del proyecto</mat-card-subtitle>
            </mat-card-header>
                <img mat-card-image src='../../../assets/sample.png'>
                <mat-card-content>
                    <p>
                    Aquí va la descripcion de mi proyecto
                    </p>
                </mat-card-content>
            <mat-card-actions class="buttons">
                <button mat-button>Ver el proyecto</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="card-container">

                <!-- Proyecto 4 -->
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Titulo del proyecto</mat-card-title>
                <mat-card-subtitle>Breve descripcion del proyecto</mat-card-subtitle>
            </mat-card-header>
                <img mat-card-image src='../../../assets/sample.png'>
                <mat-card-content>
                    <p>
                    Aquí va la descripcion de mi proyecto
                    </p>
                </mat-card-content>
            <mat-card-actions class="buttons">
                <button mat-button>Ver el proyecto</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

</mat-grid-list>