<div class="container">
<mat-grid-list cols="2">
    <mat-grid-tile class="card-container">

        <!-- Proyecto 1 -->
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Calculator</mat-card-title>
                <mat-card-subtitle>This is my first project</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src='../../../assets/calc.png'>
                <mat-card-content>
                    <p>
                        My first application developed in Angular. It is a simple calculator capable of solving simple operations. With back function and capture of data reception errors.
                    </p>
                </mat-card-content>
            <mat-card-actions class="buttons">
                <button mat-button>See the project</button>
            </mat-card-actions>
        </mat-card>

    </mat-grid-tile>
    <mat-grid-tile class="card-container">

                <!-- Proyecto 2 -->
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Project title</mat-card-title>
                <mat-card-subtitle>Small description about project</mat-card-subtitle>
            </mat-card-header>
                <img mat-card-image src='../../../assets/sample.png'>
                <mat-card-content>
                    <p>
                    Full description of the project
                    </p>
                </mat-card-content>
            <mat-card-actions class="buttons">
                <button mat-button>See the project</button>
            </mat-card-actions>
        </mat-card>

        
    </mat-grid-tile>
    <mat-grid-tile class="card-container">

                <!-- Proyecto 3 -->
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Project title</mat-card-title>
                <mat-card-subtitle>Small description about project</mat-card-subtitle>
            </mat-card-header>
                <img mat-card-image src='../../../assets/sample.png'>
                <mat-card-content>
                    <p>
                    Full description of the project
                    </p>
                </mat-card-content>
            <mat-card-actions class="buttons">
                <button mat-button>See the project</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="card-container">

                <!-- Proyecto 4 -->
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Project title</mat-card-title>
                <mat-card-subtitle>Small description about project</mat-card-subtitle>
            </mat-card-header>
                <img mat-card-image src='../../../assets/sample.png'>
                <mat-card-content>
                    <p>
                    Full description of the project
                    </p>
                </mat-card-content>
            <mat-card-actions class="buttons">
                <button mat-button>See the project</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

</mat-grid-list>
</div>