@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,100&display=swap');

.clear {
    clear: both;
}

.header {
    position: absolute;
    top: -40px;
    left: -30px;
    background-color: #575757;
    height: 260px;
    width: 2200px;
    transform: rotate(-2deg);
}

.profile-info {
    left: 90px;
    top: 60px;
    position: relative;
    width: 60%;
}

.profile-image {
    float: left;
    position: relative;
    top: 60px;
    right: -43%;
}

.profile {
    top: -85px;
    position: relative;
    border: 8px solid white;
    width: 250px;
    border-radius: 100%;
}

.profile-title h1{
    color: aliceblue;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 3.5em;
    transform: rotate(2deg);
    margin-top: 30px;

}.profile-title h3{
    font-family: 'Roboto';
    font-weight: 100;
    width: 700px;
    color: aliceblue;
    font-size: 1.8em;
    transform: rotate(2deg);
}